import("methods")
importMethodsFrom("AnnotationDbi", "Term")
importMethodsFrom("BiocGenerics", "plot")
importFrom("AnnotationDbi", "as.list")
importFrom("Biobase", "reverseSplit")
importFrom("ScISI", "getMipsInfo")
importFrom("graphics", "plot")
importFrom("lattice", "xyplot")
importFrom("stats", "phyper", "quantile")
importFrom("GO.db", "GOTERM")

export("gi2Interactome",
       "getInteraction",
       "getSharedInteraction",
       "hyperG",
       "comemberIn",
       "congruence",
       "normInteraction",
       "topInteraction",
       "createSquareMatrix",
       "byComplex",
       "domainDist",
       "getSharedDomains",
       "sharedBy",
       "getUniquePairs",
       "getTestedPairs",
       "seqMatcherAlign",
       "getAlignStats",
       "twoWayTable",
       "modelSLGI",
       "getFASTAname",
       "test2Interact",
       "iSummary",
       "withinComplex",
       "sharedInt")

exportClasses("siResult")

exportMethods("plot",
              "compare",
              "show")
